.availablebalance {
  width: 369px;
  height: 204px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #076f32;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
