.mainDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 5%;

}
.p1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin-left: 10%;
  color: rgba(0, 0, 0, 0.56);
}
.p2 {
    margin-top: -8px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  color: #000000;
}
