.mainContent{
  display: flex;
  flex-direction: row;
  margin-top: 46px;
  margin-left: 48px;
}

.nav {
  width: 312px;
  height: 1088px;
  color: #fff;
  background: linear-gradient(180deg, #076f32 0%, #054820 35.29%, #000000 100%);
  border-radius: 15px;
}

.logo {
  padding: 37px 50px;
  font-weight: bold;
  color: white;
  margin-top: 20px;
}

.user {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.user > img {
  width: 61.23px;
  height: 65px;
  border-radius: 200px;
  margin: 5px 13.77px 61px 40px;
}

.user > .username {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin: 5px 0 61px 0;
}

.user > .icon {
  width: 40.5px;
  height: 33.75;
  margin: 12px 25.75px 89.08px 50.75px;
}

.inactive {
  height: 37px;
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 17.5px 1px 17.5px 27px;
  padding-left: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}
.inactive:hover{
  color: #fff;
  text-decoration: none;
}

.active {
  height: 37px;
  width: 265px;
  color: #054820;
  background-color: #fff;
  border-radius: 5px;
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 17.5px 1px 17.5px 25px;
  padding-left: 15px;
}
.active:hover{
  color: #054820;
  text-decoration: none;
}
